{% extends "base.html" %}
{% block content %}
<h1>{{ question.question_text }}?</h1>
<small class="form-text text-muted">Published on:
  <i class="fas fa-clock"></i>
  <time>{{question.pub_date}}</time>
</small>
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
<div style="border-radius:10px" class="list-group-item">
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
  <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
</div>
{% endfor %}
<br>
<input type="submit" class="btn btn-success" value="Vote">
</form>

{% endblock %}
