display results (winners) of all the polls on same page in a percentage format
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>testing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style media="screen">
      .rcorners2 {
        border-radius: 25px;
        border: 2px solid black;
        padding: 50px;
        width: 50%;
        height: 50%;
        align: center;
        margin: auto;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="rcorners2 shadow">
        <h2>How many spokes are in Indian Flag?</h2>
        <small class="form-text text-muted">published on:
          <span class="glyphicon glyphicon-time"></span>
          <time>{{time}}</time>
        </small>
        <br>
        <p>Total Votes: {{}}</p>
        <button type="button" class="btn btn-primary" name="button">Vote!</button>
        <hr>
        <div class="progress" style="height: 50px;">
            <div class="progress-bar progress-bar bg-danger" role="progressbar" style="width:40%">
              Free Space
            </div>
            <div class="progress-bar progress-bar bg-success" role="progressbar" style="width:10%">
              Warning oanwoefharwhi;aerhvoareh
            </div>
            <div class="progress-bar progress-bar bg-secondary" role="progressbar" style="width:50%">
              Warning
            </div>
        </div>
    </div>
  </body>
</html>
